{% set readonly = ' disabled ' if app.status != c.UNAPPROVED and not admin_area else '' %}
{% set no_help_text = app.status != c.UNAPPROVED or admin_area %}
{% set max_tables = c.MAX_ART_TABLES if not admin_area else 30 %}
{% set max_panels = c.MAX_ART_PANELS if not admin_area else 30 %}
<div class="form-group">
  <label for="artist_name" class="col-sm-3 control-label optional-field">Artist Name</label>
  <div class="col-sm-6">
    <input class="form-control" type="text" name="artist_name" value="{{ app.artist_name }}" size="40" {{ readonly }}/>
  </div>
  {% if not no_help_text %}
  <div class="clearfix"></div>
  <p class="help-block col-sm-6 col-sm-offset-3">The name you want to use with your artwork, if different from your
    first and last name.</p>
  {% endif %}
</div>

<div class="form-group">
  <label for="delivery_method" class="col-sm-3 control-label">Art Delivery</label>
  <div class="col-sm-6">
    <select name="delivery_method" class="form-control">
      {{ options(c.ART_SHOW_DELIVERY_OPTS,app.delivery_method) }}
    </select>
  </div>
  {% if not no_help_text %}
  <div class="clearfix"></div>
  <p class="help-block col-sm-6 col-sm-offset-3">Mailing your art to the show incurs a fee of ${{ c.ART_MAILING_FEE }}.</p>
  {% endif %}
</div>

<div class="form-group">
  <label for="panels" class="col-sm-3 control-label">Panels</label>
  <div class="col-sm-6">
    {% if app.panels and app.panels > max_panels and not admin_area %}
      <div class="form-control-static">An admin has granted you {{ app.panels }} panels. Please contact us via via <a href='mailto:{{ c.ART_SHOW_EMAIL }}'>{{ c.ART_SHOW_EMAIL }}</a>
      if you wish to change the number of panels on your application.</div>
    {% else %}
      <select class="form-control" name="panels"{{ readonly }}>
        {{ int_options(0, max_panels, app.panels) }}
      </select>{% if not no_help_text %}(${{ c.COST_PER_PANEL }} per panel){% endif %}
      {% endif %}
    </div>
    {% if not no_help_text and app.panels < max_panels %}
    <div class="clearfix"></div>
    <p class="help-block col-sm-6 col-sm-offset-3">
      <i>You may contact us via <a href='mailto:{{ c.ART_SHOW_EMAIL }}'>{{ c.ART_SHOW_EMAIL }}</a> to request more
        than {{ c.MAX_ART_PANELS }} panels.</i></p>
    {% endif %}


</div>

<div class="form-group">
  <label for="tables" class="col-sm-3 control-label">Table Sections</label>
  <div class="col-sm-6">
    {% if app.tables and app.tables > max_tables and not admin_area %}
      <div class="form-control-static">An admin has granted you {{ app.tables }} table sections. Please contact us via via <a href='mailto:{{ c.ART_SHOW_EMAIL }}'>{{ c.ART_SHOW_EMAIL }}</a>
      if you wish to change the number of table sections on your application.</div>
    {% else %}
      <select class="form-control" name="tables"{{ readonly }}>
        {{ int_options(0, max_tables, app.tables) }}
      </select>{% if not no_help_text %}(${{ c.COST_PER_TABLE }} per table section){% endif %}

    {% endif %}
    </div>
    {% if not no_help_text and app.tables < max_tables %}
    <div class="clearfix"></div>
    <p class="help-block col-sm-6 col-sm-offset-3">
      <i>You may contact us via <a href='mailto:{{ c.ART_SHOW_EMAIL }}'>{{ c.ART_SHOW_EMAIL }}</a> to request more
        than {{ c.MAX_ART_TABLES }} table sections.</i></p>
    {% endif %}
</div>

<div class="form-group">
  <label for="description" class="col-sm-3 control-label">Description</label>
  <div class="col-sm-6">
    <textarea class="form-control" name="description" rows="4" maxlength="400"{{ readonly }}>{{ app.description }}</textarea>
  </div>
  {% if not no_help_text %}
  <div class="clearfix"></div>
  <p class="help-block col-sm-6 col-sm-offset-3">A short description of your artwork.</p>
  {% endif %}
</div>

<div class="form-group">
  <label for="website" class="col-sm-3 control-label optional-field">Website URL</label>
  <div class="col-sm-6">
    <input class="form-control" type="text" name="website" value="{{ app.website }}" size="40" {{ readonly }}/>
  </div>
</div>

<div class="form-group">
  <label for="special_needs" class="col-sm-3 control-label optional-field">Special Requests</label>
  <div class="col-sm-6">
    <textarea class="form-control" name="special_needs" rows="4"{{ readonly }} placeholder="Indicate how many spaces you want in the general vs adult sections">{{ app.special_needs }}</textarea>
  </div>
  {% if not no_help_text %}
  <div class="clearfix"></div>
  <p class="help-block col-sm-6 col-sm-offset-3">We cannot guarantee that we will accommodate all requests.</p>
  {% endif %}
</div>
