{% extends "preregistration/preregbase.html" %}
{% block title %}Art Show Application{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
<div class="masthead"></div>
<div class="panel panel-default">
  <div class="panel-body">
    <form method="post" action="edit" class="form-horizontal" role="form">
      <input type="hidden" name="id" value="{{ app.id }}">
      <h2>{{ c.EVENT_NAME }} Art Show Application</h2>
      {% if app.status == c.APPROVED %}
      Congratulations, your application has been approved!
        {% if app.attendee.amount_unpaid %}
          In order to complete your application, please pay ${{ app.attendee.amount_unpaid }} using the button below.
          {% if app.attendee.badge_cost %}This total includes the cost of your badge.{% endif %}
          <div style="text-align:center">
              {# {{ stripe_form('process_art_show_payment', charge) }} #}
          </div>
        {% endif %}
      {% elif app.status != c.UNAPPROVED %}
      Unfortunately, since your application has been {{ app.status_label|lower }}, you may no longer edit it. However,
      you may still view the details of your application below. <br/><br/>
      {% endif %}

      {% include 'art_show_applications/art_show_form.html' %}

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="submit" class="btn btn-primary">Update Application</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}